/************custon-propite************/
:root {
  --Cyan: hsl(180, 66%, 49%);
  --Dark-Violet: hsl(257, 27%, 26%);
  --Red: hsl(0, 87%, 67%);
  --Gray: hsl(0, 0%, 75%);
  --Grayish-Violet: hsl(257, 7%, 63%);
  --Very-Dark-Blue: hsl(255, 11%, 22%);
  --Very-Dark-Violet: hsl(260, 8%, 14%);
  --font-famili: "Poppins", "sans-serif";
}

/****************reset*******************/
html {
  box-sizing: border-box;
  font-family: var(--font-famili);
  font-size: 18px;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}
body {
  margin: 0;
  overflow-x: hidden;
}

a {
  color: var(--Grayish-Blue);
  transition: all 0.5s ease-out;
}

a:hover {
  opacity: 0.75;
}
h1 {
  margin: 0;
  font-size: 2rem;
}
h2 {
  margin: 0;
  font-size: 1.5rem;
}
h3 {
  margin: 0;
  font-size: 1.25rem;
}
h4 {
  margin: 0;
  font-size: 1rem;
}
h5 {
  margin: 0;
  font-size: 0.85rem;
}
h6 {
  margin: 0;
  font-size: 0.5rem;
}
img {
  max-width: 100%;
  height: auto;
}
p {
  line-height: 1.6;
}

/************utitilitis*****************/
.error {
  height: 4rem;
  background-color: #ca2121;
  width: 100%;
  padding: 1rem;
  font-family: sans-serif;
  font-family: 8vh;
  text-align: center;
  align-items: center;
}

.loadin {
  display: none;

  justify-content: center;
  align-items: center;
  z-index: 10;
  opacity: 0.8;
  width: 100%;
  height: auto;
  margin: 3rem;
  padding: 2rem;
}

.loadin svg {
  height: 100%;
  width: 40%;
}

.attribution {
  background-color: var(--Very-Dark-Violet);
  font-family: sans-serif;
  text-align: left;
  color: var(--Gray);
  font-size: 1.8vh;
  padding: 0.4rem;
  bottom: 0;
  width: 100%;
}

.attribution a {
  text-decoration: none;
  color: var(--Cyan);
}

/*****************syte-style***************/

/*******************header*****************/

.main-header {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 0 0.4rem;
}

.main-logo {
  color: var(--Very-Dark-Violet);
  font-size: 32px;
  text-decoration: none;
}

.main-nav {
  position: fixed;
  top: 50px;
  width: 90%;
  margin: 1.5rem 0.5rem;
  height: 20rem;
  opacity: 0;
  pointer-events: none;
  z-index: 100;
}

.main-nav.show {
  opacity: 1;
  pointer-events: auto;
}

.nav-links {
  background-color: var(--Dark-Violet);
  border-radius: 0.5rem;
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.nav-links hr {
  width: 80%;
  color: var(--Grayish-Violet);
}

.link-item {
  font-family: sans-serif;
  text-decoration: none;
  font-size: 1.2rem;
  color: white;
  margin: 0.4rem;
  padding: 0.4rem;
}

.link-item:hover {
  color: var(--Cyan);
  border-bottom: 2px solid var(--Gray);
  transition: 0.3s ease all;
}

.button-menu {
  z-index: 200;
  width: 40px;
  height: 40px;
  border: none;
  display: flex;
  background: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.button-menu span {
  width: 37px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #444444;
  border-radius: 3px;
  transform-origin: 4px 0px;
  transition: all 0.2s linear;
}

.button-menu.close span {
  opacity: 1;
  transform: rotate(45deg) translate(0px, 0px);
  background: var(--Dark-Violet);
}

.button-menu.close span:nth-child(2) {
  transform: rotate(-45deg) translate(-8px, 5px);
}

.button-menu.close span:nth-child(3) {
  display: none;
}

.btn-login {
  border-radius: 1.5rem;
  font-family: sans-serif;
  font-size: 1.2rem;
  padding: 0.6rem;
  margin: 0.8rem;
  display: inline-block;
  width: 10rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: var(--Gray);
  background-color: var(--Cyan);
}
.btn-login:hover {
  cursor: pointer;
  opacity: 0.8;
}

/***************************home*****************/
.home {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 0 0 2rem;
}
.hero-img-home {
  width: 100%;
  height: 60%;
  justify-content: center;
  align-items: center;
}
.hero-img-home img {
  margin: 1rem;
  padding: 0.4rem;
  margin-left: 0.4rem;
}
.text-home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 40%;
}
.text-home h2 {
  font-size: 2.5rem;
  margin: 0.4rem 0.8rem;
  padding: 0.4rem;
}

.text-home p {
  color: var(--Grayish-Violet);
  margin: 0.4rem 1rem;
  padding: 0.4rem;
}
.btn-get {
  border-radius: 1.5rem;
  font-family: sans-serif;
  font-size: 2.2vh;
  padding: 0.6rem;
  margin: 1rem;
  display: inline-block;
  width: 10rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: var(--Gray);
  background-color: var(--Cyan);
}
.btn-get:hover {
  cursor: pointer;
  opacity: 0.8;
}
/******************frormulario*********************/
.pricing {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 auto;
}
.from-url {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--Dark-Violet);
  background-image: url("./images/bg-shorten-mobile.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  margin: 1rem;
  padding: 0.4rem;
  width: 90%;
  border-radius: 0.4rem;
}
.from-url input {
  display: inline-block;
  text-decoration: none;
  margin: 1rem 0.7rem;
  width: 90%;
  height: 2.6rem;
  border-radius: 0.3rem;
}
#submit {
  background-color: var(--Cyan);
  font-size: 3.5vh;
  color: var(--Gray);
  border: thick solid var(--Cyan);
}

#submit:hover {
  cursor: pointer;
  opacity: 0.8;
}
#url {
  border: 3px solid var(--Red);
}
#url::placeholder {
  padding-left: 10px;
  color: var(--Red);
  font-size: 2.5vh;
}

/***************root-url-api-short****************/
#root-url {
  margin: 0;
  padding: 0.4rem;
  height: 100%;
  background-color: var(--Gray);
}
.conteiner-url {
  width: 90%;
  margin: 1rem;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  align-items: left;
  background-color: white;
  border: 5px solid white;
  border-radius: 0.4rem;
}
.conteiner-url hr {
  width: 100%;
  color: var(--Gray);
}
.conteiner-url a {
  text-decoration: none;
  width: 70%;
  padding: 0.7rem 0.7rem 0.7rem 0;
  color: var(--Very-Dark-Blue);
  font-size: 2.5vh;
  font-family: sans-serif;
}

#copy-button {
  width: 90%;
  height: 2rem;
  background-color: var(--Cyan);
  font-size: 3vh;
  border: thin solid var(--Cyan);
  border-radius: 0.4rem;
  margin: auto 1rem;
}
#copy-button:hover {
  cursor: pointer;
  opacity: 0.8;
}
#copy-short-url {
  color: var(--Cyan);
}

/*****************section-stadist****************/
.features {
  max-width: 1200px;
  background-color: var(--Gray);
  margin: 0 auto;
  padding: 1rem;
}

.features hr {
  width: 0.5rem;
  height: 4.2rem;
  background-color: var(--Cyan);
  border: thin solid var(--Cyan);
  margin-top: 0;
}

.title {
  padding: 0.4rem;
  margin: 2.7rem 0.8rem;
  text-align: center;
  align-items: center;
}

.img-cart {
  background-color: white;
  padding: 0.6rem;
  margin: 1rem;
  border-radius: 0.2rem;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 0;
}

.img-cart h3 {
  margin: 1.2rem 0.8rem;
}
.img-cart p {
  margin: 0.7rem 1rem;
  font-size: 2vh;
  text-align: center;
}
.icon {
  width: 5.2rem;
  height: 5.2rem;
  border-radius: 50%;
  background-color: var(--Dark-Violet);
  padding: 1.4rem;
  margin-top: -3rem;
}

/****************get-link***************/
.get-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 18rem;
  background-color: var(--Dark-Violet);
  background-image: url("./images/bg-boost-mobile.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.get-link h2 {
  font-size: 4.2vh;
  color: var(--Gray);
  margin: 1rem;
  font-family: sans-serif;
}
.get-link a {
  height: 2.7rem;
  font-size: 3.2vh;
}

/**************contact-footer**************/
.contact-footer {
  margin: 0;
  padding: 1rem auto;
  background-color: var(--Very-Dark-Violet);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact-footer svg {
  margin: 1.6rem auto;
}

.article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 1rem;
  padding: 1rem;
}

.article h4 {
  font-family: sans-serif;
  color: #f3f3f5;
  margin: 1rem auto;
}

.article a {
  text-decoration: none;
  cursor: pointer;
  font-family: sans-serif;
  color: var(--Gray);
  margin: 0.6rem auto;
}

.article a:hover {
  color: var(--Cyan);
}

.social-media a {
  text-decoration: none;
  padding: 0.6rem;
}

.social-media a:hover svg {
  opacity: 1;
  fill: #8152d8;
}

@media screen and (min-width: 768px) {
  /******************header*****************/
  .button-menu {
    display: none;
  }
  .main-nav {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    opacity: 1;
    pointer-events: auto;
    top: 0;
    height: 80px;
    width: 80%;
  }
  .nav-links {
    flex-direction: row;
    justify-content: space-between;
    margin: 0.4rem;
    background-color: white;
  }
  .nav-links hr {
    opacity: 0;
    width: 6rem;
    height: 0;
  }
  .link-item {
    padding: 0 0.7rem;
    color: var(--Gray);
  }
  .link-item:hover {
    color: var(--Dark-Violet);
    background-color: white;
  }
  .btn-login {
    width: 5rem;
    font-size: 0.8rem;
  }

  /*******************home*****************/
  .home {
    display: flex;
    flex-direction: row-reverse;
    margin: 0.7rem 0;
    align-items: center;
  }
  .text-home {
    text-align: left;
    align-items: flex-start;
    height: 60%;
  }

  .text-home h2 {
    margin: 0.2rem auto;
    padding: 0;
  }
  .text-home p {
    width: 77%;
    font-size: 0.8rem;
    margin: 0.2rem auto;
    padding: 0;
    margin-left: 0;
  }
  .btn-get {
    width: 6.8rem;
    margin-left: 0;
  }

  /********************formulario********************/

  .from-url {
    background-image: url("./images/bg-shorten-desktop.svg");
    background-size: cover;
    flex-direction: row;
  }
  #submit {
    width: 20%;
    margin: auto 1.8rem;
  }
  #url {
    width: 75%;
  } /***************root-url-api-short****************/
  .Pricing {
    margin: 0 1rem;
  }
  .conteiner-url {
    flex-direction: row;
    justify-content: space-between;
    text-align: right;
  }
  .conteiner-url hr {
    opacity: 0;
  }

  #copy-button {
    width: 40%;
    margin: auto 0.4rem;
  }
  /********section-features*********/
  .features {
    display: grid;
    grid-gap: 0;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, auto);
    align-items: center;
  }

  .features hr {
    height: 0.5rem;
    width: 7vh;
    margin: auto 0;
  }
  .title {
    grid-column: 1 / span 5;
    text-align: center;
    align-items: center;
    width: 50%;
    height: auto;
    margin: 1rem auto;
  }

  .img-cart {
    height: 13rem;
    width: 16rem;
    padding: 0.2;
    margin: 0.4rem 0;
    text-align: left;
    align-items: flex-start;
  }
  .img-cart h3 {
    margin: 0.8rem;
  }

  .img-cart p {
    text-align: left;
  }
  .features div:nth-child(2) {
    margin-top: -20px;
  }
  .features div:last-child {
    margin-top: 30px;
  }

  .get-link {
    background-image: url("./images/bg-boost-desktop.svg");
  }
  .get-link h2 {
    font-size: 6.2vh;
  }
  .get-link a {
    width: 10rem;
  }

  .contact-footer {
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
  }
  .article {
    align-items: stretch;
    justify-content: stretch;
    margin: 1rem auto;
    padding: auto;
  }
  .article h4 {
    margin-top: 0;
  }
}
